
/*
* 
* ==========================================================
* EXCHANGE.SCSS
* ==========================================================
*
* Crypto Exchange CSS file
*
*/

$transition: all 0.4s;
$color-main: #2bb0ba;
$color-main-hover: #2bcbd7;
$color-black: #464646;
$color-gray: #5c7171;
$color-red: rgb(202, 52, 52);
$color-green: rgb(26, 146, 96);
$color-orange: rgb(246, 158, 0);
$background-gray: #f5fafa;
$background-main-light: rgba(39, 255, 222, 0.08);
$background-red: rgba(202, 52, 52, 0.1);
$background-yellow: rgb(242, 227, 124);
$background-green: rgb(177, 230, 208);
$border-color: rgb(212, 212, 212);
$white: #fff;
$box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);

#boxcoin-exchange {
    padding: 35px;
    border-radius: 6px;

    input, select, textarea {
        font-family: "Boxcoin", "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
        font-size: 14px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    > .bxc-panel {
        .bxc-title {
            font-size: 14px;
            font-weight: 500;
            margin: 0 0 15px 0;
            letter-spacing: .3px;
            position: relative;
        }

        .bxc-text {
            font-size: 14px;
            line-height: 25px;
            letter-spacing: .3px;
            opacity: .8;
            margin: 0;
        }

        .bxc-error {
            margin: 10px 0 0 0;
            font-size: 13px;
            letter-spacing: .3px;
            font-weight: 400;

            & + .bxc-title {
                margin-top: 30px;
            }

            & + .bxc-text {
                margin-top: 15px;
            }
        }

        &:not(.bxc-active) {
            display: none;
        }
    }
}

.bxc-input-select {
    position: relative;
    display: block !important;

    .bxc-1 {
        display: flex;
        position: relative;
        max-width: 100%;
        align-items: center;
        padding: 0;
        border: 1px solid $border-color;
        border-radius: 4px;
        overflow: hidden;

        > input {
            width: 100%;
            max-width: 100%;
            border-radius: 0 !important;
            border-right: none;
            border: none !important;
            height: 40px;
            min-height: 40px;
        }

        > div {
            display: flex;
            position: relative;
            padding: 0 15px;
            height: 40px;
            min-width: 150px;
            background-color: $background-gray;
            border-left: 1px solid $border-color;
            align-items: center;
            transition: $transition;
            cursor: pointer;

            img {
                width: 25px;
                margin-right: 15px;
                display: block;
            }

            span {
                width: auto;
                min-width: auto;
                user-select: none;
                display: block;
            }

            &:hover {
                background-color: #fcfdfd;
            }
        }

        &.bxc-error {
            border-color: $color-red;
            margin: 0;
        }
    }

    .bxc-2 {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 0;
        background: $white;
        border: 1px solid $border-color;
        z-index: 2;
        border-radius: 4px;

        &.bxc-active {
            display: block;
        }
    }

    .bxc-2-1 {
        position: relative;
        padding: 15px;

        i {
            position: absolute;

            &:first-child {
                left: 25px;
                top: 28px;
                color: #c3c3c3;
            }

            &:last-child {
                right: 25px;
                top: 29px;
                font-size: 13px;
                cursor: pointer;
                transition: $transition;
                color: #707070;

                &:hover {
                    color: $color-red;
                }
            }
        }

        input {
            padding-left: 35px;
            padding-right: 35px;
        }
    }

    .bxc-2-2 {
        max-height: 315px;

        > span {
            font-weight: 500;
            padding: 15px;
            opacity: .8;
        }
    }
}

.bxc-hidden-select, .bxc-hidden-fiat, .bxc-hidden-fiat + .bxc-select-ul {
    display: none !important
}

.bxc-select-ul {
    > div {
        justify-content: flex-start;
        cursor: pointer;
        text-align: left;
        padding: 10px 15px;
        transition: $transition;

        img {
            display: block;
            max-width: 30px;
            margin: 0 15px 0 0;
        }

        > div {
            transform: translateY(2px);
        }

        span {
            display: block;
            line-height: 22px;
            font-size: 16px;
            width: auto;

            & + span {
                display: block;
                font-weight: 400;
                opacity: .8;
                font-size: 13px;
            }

            &:first-child {
                white-space: nowrap;
            }
        }

        &.bxc-hidden {
            display: none;
        }

        &:hover {
            background-color: $background-gray;
        }
    }
}

.bxc-input-select .bxc-1 > div:after, .bxc-summary:after {
    content: "\61";
    font-family: "Boxcoin Icons";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    text-indent: 0;
    display: block;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
    z-index: 1;
    color: $color-black;
}

.bxc-input {

    input[disabled] {
        background-color: $white;
        cursor: not-allowed;
    }
}

#bxc-send, #bxc-get {
    .bxc-1 > div span {
        text-transform: uppercase;
    }
}

.bxc-hide-crypto .bxc-title-ul, .bxc-hide-currencies .bxc-title-ul, .bxc-hide-crypto .bxc-title-cryptocurrencies + div, .bxc-hide-currencies .bxc-title-currencies + div {
    display: none !important;
}

.bxc-title-summary {
    margin-top: 30px !important;

    span {
        float: right;
        font-weight: 400;
        font-size: 13px;

        i {
            height: 12px;
            margin-right: 7px;
            font-size: 11px;
        }
    }
}

.bxc-title-summary:not(.bxc-active), .bxc-summary:not(.bxc-active) {
    display: none;
}

.bxc-title > i {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: right;
    cursor: pointer;
    transition: $transition;

    &:hover {
        color: $color-main;
    }
}

.bxc-summary {
    font-size: 14px;
    line-height: 17px;
    padding: 11.5px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    b {
        font-weight: 500;
    }

    .bxc-2 {
        padding: 15px 0 0 0;
        transition: $transition;

        > span + span {
            margin-top: 10px;
        }

        .bxc-icon-help {
            font-size: 12px;
            margin: 0 0 0 5px;
            cursor: pointer;

            &:before {
                opacity: 0.6;
            }
        }

        i:not(.bxc-icon-help) {
            font-style: normal;
            opacity: 0.6;
        }
    }

    &:not(.bxc-open) .bxc-2 {
        height: 0;
        overflow: hidden;
        padding: 0;
    }

    &.bxc-open:after {
        transform: rotate(180deg);
    }

    &:after {
        top: 15px;
        transition: $transition;
    }
}

.bxc-btn-main {
    display: block;
    margin-top: 30px;

    &:not(.bxc-loading):before {
        content: "\ea3c";
        display: block;
        font-size: 15px;
        right: 15px;
        top: calc(50% - 8px);
    }
}

.bxc-footer {
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    margin-top: 30px;
    color: $color-gray;

    a {
        color: $color-gray;
    }

    &:empty {
        display: none;
    }
}

#bxc-get-address, #bxc-payment-address {
    position: relative;
    margin: 0 0 15px 0;

    input {
        padding-right: 42px;
    }

    img {
        position: absolute;
        right: 11px;
        top: 11px;
        width: 20px;
        height: 20px;
    }
}

#bxc-payment-address, bxc-payment-address-fiat {
    &:not(.bxc-active) {
        display: none !important;
    }
}

#bxc-payment-method-send {
    margin-bottom: 15px !important;
}

#bxc-panel-address-fiat .bxc-input + .bxc-text {
    margin-top: 15px;
}

#bxc-payment-details-send {
    min-height: 200px;
}

.bxc-paymet-method {
    margin-bottom: 30px;

    > div {
        transition: $transition;
        cursor: default;

        &:not(.bxc-active) {
            opacity: .3;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        & + div {
            margin-top: 5px;
        }
    }

    img {
        max-width: 74px;
    }

    [data-payment-method="crypto"] {
        opacity: 1 !important;
        cursor: default !important;
        justify-content: flex-start;

        img {
            max-width: 30px;
            margin-right: 10px;
        }
    }

    &[data-crypto="true"] [data-payment-method="stripe"], &[data-crypto="true"] [data-payment-method="paypal"], &[data-crypto="false"] [data-payment-method="crypto"], &[data-crypto="true"] [data-payment-method="manual"] {
        display: none !important;
    }
}

#bxc-payment-address-fiat, .bxc-paymet-method [data-payment-method="crypto"] div {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .3px;
}

#bxc-panel-processing, #bxc-panel-finish, #bxc-panel-finish-manual {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .bxc-loading, > .bxc-icon-check, .bxc-icon-close {
        width: 30px;
        height: 30px;
        margin: 0 auto 15px auto;

        &:before {
            line-height: 30px;
            font-size: 30px;
            color: $color-main;
        }
    }

    > .bxc-icon-close:before {
        color: $color-red;
    }

    .bxc-title {
        text-align: center;
    }
}

#bxc-panel-finish {
    > .bxc-title {
        font-weight: 400 !important;
        line-height: 30px;

        b {
            font-weight: 500;
        }
    }

    > a {
        color: $color-main;

        &:after {
            background-color: $color-main;
        }
    }
}

#bxc-panel-finish-manual {
    text-align: center;

    .bxc-title {
        margin-top: 15px !important;
    }

    .bxc-text {
        opacity: 1 !important;

        b {
            font-weight: 500;
        }
    }
}

.bxc-text-manual {
    text-align: center;
    opacity: 1 !important;
}

#bxc-invert:not(.bxc-active) {
    display: none;
}

#bxc-error-identity {
    margin-top: 30px !important;
}

#bxc-panel-identity {
    .bxc-input + .bxc-title {
        margin-top: 30px;
    }
}

#bxc-btn-exchange-identity {

    & + .bxc-text {
        text-align: center;
        display: none;
    }

    &.bxc-loading + .bxc-text {
        display: block;
        margin-top: 15px;
    }
}

#bxc-email-verification {
    margin-top: 30px;

    .bxc-text {
        margin: -5px 0 15px 0 !important;
    }
}

.complycube-sdk-ui-Theme-modalOverlay {
    z-index: 9;
}

#bxc-cancel-verify-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: $color-gray;
    margin-top: 10px;

    .bxc-icon-close {
        margin: 0 5px 0 0;
        width: auto;
        height: auto;

        &:before {
            line-height: 20px;
            font-size: 8px;
            color: $color-gray;
            transition: $transition;
        }
    }

    &:hover, &:hover .bxc-icon-close:before {
        color: $color-red;
    }
}

#bxc-transaction-link {
    transition: opacity .5s !important;

    &.bxc-loading {
        text-indent: initial;
        width: auto;
        padding-left: 30px;
        color: $color-gray;
        opacity: .7;
        cursor: default;
        height: 19px;
        line-height: 19px;
        margin: 0;

        &:before {
            left: 12px;
            top: 14px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 17px;
            color: $color-gray;
        }

        &:hover {
            opacity: .5;
        }
    }
}

.bxc-two-buttons {
    margin-top: 10px;

    > div {
        margin: 0 5px;
    }
}

/* 

# RTL
==========================================================

*/

.bxc-rtl {
    .bxc-input-select .bxc-1 > div {
        flex-direction: row-reverse;
        border-right: 1px solid #d4d4d4;
        border-left: none;

        span {
            text-align: left;
        }
    }

    .bxc-select-ul > div {
        img {
            margin: 0 0 0 15px;
        }

        & > div {
            text-align: right;
        }
    }

    .bxc-title-summary span i {
        margin-right: 0;
        margin-left: 7px;
    }

    .bxc-summary .bxc-2 .bxc-icon-help {
        margin: 0 5px 0 0;
    }

    .bxc-title > i {
        left: 0;
        right: auto;
        text-align: left;
    }

    #bxc-cancel-verify-payment .bxc-icon-close {
        margin: 0 0 0 5px;
    }
}

/* 

# RESPONSIVE
==========================================================

*/

@media (max-width: 486px) {
    #boxcoin-exchange {
        padding: 15px;
    }

    .bxc-input-select {
        .bxc-1 {
            display: block;

            > div {
                border-left: none;
                border-top: 1px solid #d4d4d4;
                padding: 0 10px;
            }
        }
    }
}
